{namespace WeatherDemo.template.List}


/**
 * 
 */
{template .main}
<div class="list">
  <select class="sort">
    <option value="ALPHA" selected>Alphabetical</option>
    <option value="TEMP">Highest Temperature</option>
  <select>
  <div class="content">
  </div>
</div>
{/template}
