{namespace WeatherDemo.template.Single}


/**
 * 
 */
{template .main}
    <div class="single">
    	<div class='city'></div>
        <input type='text' class='temp' />
        <input type='text' class='celcius' />
    </div>
{/template}
